* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  margin: 3rem 4rem;
  list-style: none;
  display: flex;
  gap: 2rem;
}

h1 {
  background-color: rgb(245, 245, 245);
  padding: 1rem;
}

button {
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: #0d6efd;
  cursor: pointer;
}

.btn-active {
  background-color: #ffc107;
  color: #000;
}

.card {
  margin: 3rem 4rem;
  font-size: 1.3rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  max-width: 1000px;
  padding: 1.2rem;
}

.card > .description {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.8);
}

.card > h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
